body {
    background-color: rgb(41, 46, 70);
    color: blanchedalmond;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: rgb(236, 213, 135);
}

a:hover {
    color: rgb(240, 234, 215);

}

a:active {
    color: white;
}

.container,
h1 {
    background-color: rgb(48, 54, 82);
    border-radius: 12px;
    margin: 16px 5%;
    padding: 8px 16px;
}

h1 {
    text-align: center;
    text-decoration: underline;
    width: 50%;
    margin: 16px auto;
}

h3 {
    text-decoration: underline;
}

h1,
h3 {
    color: rgb(255, 250, 98);
}

.link-list {
    list-style: none;
    font-size: 1.5em;
    padding-left: 30%;
}

img {
    height: 300px;
    width: auto;
    display: block;
    margin: 0 auto;
    border-radius: 32px;
}

.recipe-list {
    line-height: 180%;
}

.recipe-list li {
    margin-bottom: 1em;
}